<% for image_type in @images.keys.reverse 
   next if @images[image_type].blank? %>
<ul class="pageitem">
  <li class="textbox">
   <span class="header"><%= image_type %></span>
  <% for image in @images[image_type] %>
    <div style="display: inline-block; padding-bottom: 3px;">
      <%= link_to image_tag(@person.tmdb_image_url(image["file_path"], "thumb"), :title => tmdb_image_info(image)),
                  @person.tmdb_image_url(image["file_path"], "original"),
		  :target => "_blank" %>
    </div>
  <% end %>
  </li>
</ul>
<% end %>